.. _role_assignment:

Role Assignment
---------------

The following roles will be taken and executed by the following persons.

{{ make_list_table_from_mappings(
    [('Role', 'role'), ('Persons', 'persons')],
    data['role_assignment'],
    title='Role Assignment',
    ) }}